# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# macOS
.DS_Store
mcb-website/node_modules
mcb-frontend