<!-- Site Footer -->
<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5 class="white-text">MCB</h5>
        <p class="grey-text text-lighten-4">Your AI-powered college and career companion.</p>
      </div>
      <div class="col s12 m4 offset-m2">
        <h5 class="white-text">Navigate</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#features">Features</a></li>
          <li><a class="grey-text text-lighten-3" href="#impact">Impact</a></li>
          <li><a class="grey-text text-lighten-3" href="#testimonials">Testimonials</a></li>
          <li><a class="grey-text text-lighten-3" href="#cta">Get Started</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{ current_year }} MCB
    </div>
  </div>
</footer>
